.font{
  font-family: 'Fredoka', sans-serif;
}
.bg-our{
  background-color: #FFAC41 !important;
}
.table{
  border-radius: 20px;
}
#createModal{
  color: #1a2226;
}
#updateModal{
  color: #1a2226;
}
.total{
  border-radius: 30px;
}


