<header>
  <div class="container text-center pt-5  mt-5 px-4 border-bottom">
    <h1 class="display-4 fw-bold font animate__animated animate__fadeInLeft">Accounting App</h1>
    <div class="col-md-10 mx-auto">
      <p class="lead mb-4 font animate__animated animate__fadeInRight">
        You still don't use a money management application? Would you like to use it?
        Here is the app you are looking for. It's safe, has a simple administration panel,
        is ad-free and free. The app you are looking for. Come on, sign up and start using it.
      </p>
      <div class="pb-4 d-grid gap-2 d-md-flex justify-content-md-center animate__animated animate__fadeInUp">
        <button class="btn btn-warning btn-lg" (click)="goLogin()">
          <i class="fa-solid fa-caret-right pe-1"></i>Login
        </button>
        <button class="btn btn-warning btn-lg" (click)="goRegister()">
          <i class="fa-solid fa-caret-right pe-1"></i>Register
        </button>
      </div>
      <div>
        <div class="container px-5 overflow-hidden" style="max-height: 30vh;">
          <img src="../../../../../assets/img/btc.jpg" alt="" class="img-fluid border rounded-3 shadow-lg mb-4" width="700" height="500">
        </div>
      </div>
    </div>
  </div>
</header>

<main>
  <div class="bg-our pt-5 pb-3 text-center">
    <div class="py-5">
      <h1 class="display-5 fw-bold font">About Us</h1>
      <div class="col-md-8 mx-auto">
        <p class="lead mb-4 font">
          Who are we? We are ambitious, hardworking and determined people who want people to manage
          their money in confidence, try to improve themselves in software. Would you like to contact us?
        </p>
        <div class="pb-4 d-grid gap-2 d-md-flex justify-content-md-center">
          <button (click)="goContactUs()" class="btn btn-outline-dark btn-lg" >
            <i class="fa-solid fa-caret-right pe-1"></i>Contact Us
          </button>
        </div>
      </div>
    </div>
  </div>
</main>





